<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.fzx.fzxdao">
	<!-- 查询车牌号所有 -->
	<select id="selectBy" resultType="com.accp.pojo.fzx.FzxCarinfo">
		SELECT * FROM carinfo where carno like '%${carno}%'
	</select>
	
	<!-- 查询服务所有 -->
	<select id="selectFw" resultType="com.accp.pojo.fzx.FzxWeixiufuwu">
		SELECT * FROM weixiufuwu
	</select>
	
</mapper>